<div class="row">
  <div class="col-lg-12">
    <h3>{{formHeading}}</h3>
    <div class="form-wrapper">
      <div class="col-xs-12">
        <form name="form" (ngSubmit)="onFormSubmit()" [formGroup]="addressForm" novalidate>
          <div class="form-group col-xs-12">
            <div class="col-xs-2 text-left">
              <label for="lastName">Name</label>
            </div>
            <div class="col-xs-10">
              <input type="text" placeholder="MR Bean" class="form-control col-xs-3" name="name" formControlName="name" />
            </div>

            <div *ngIf="addressForm.get('name').errors && addressForm.get('name').touched" class="col-xs-10 col-xs-offset-2">
              <div class="help-block" *ngIf="addressForm.get('name').errors.required">name is required</div>
              <div class="help-block" *ngIf="addressForm.get('name').errors.name && !addressForm.get('name').errors.required">Email is invalid.</div>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2 text-left">
              <label for="lastName">Street</label>
            </div>
            <div class="col-xs-10">
              <input type="text" placeholder="124 Dy road" class="form-control col-xs-3" name="street" formControlName="street" />
            </div>

            <div *ngIf="addressForm.get('street').errors && addressForm.get('street').touched" class="col-xs-10 col-xs-offset-2">
              <div class="help-block" *ngIf="addressForm.get('street').errors.required">street is required</div>
              <div class="help-block" *ngIf="addressForm.get('street').errors.street && !addressForm.get('street').errors.required">Email is invalid.</div>
            </div>
          </div>
          <div class="form-group col-xs-12 col-xs-12">
            <div class="col-xs-2 text-left">
              <label for="lastName">Town</label>
            </div>
            <div class="col-xs-10">
              <input type="text" placeholder="XY Town" class="form-control col-xs-3" name="town" formControlName="town" />
            </div>
            <div *ngIf="addressForm.get('town').errors && addressForm.get('town').touched" class="col-xs-10 col-xs-offset-2">
              <div class="help-block" *ngIf="addressForm.get('town').errors.required">town is required</div>
              <div class="help-block" *ngIf="addressForm.get('town').errors.town && !addressForm.get('town').errors.required">Email is invalid.</div>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2 text-left">
              <label for="lastName">City</label>
            </div>
            <div class="col-xs-10">
              <input type="text" placeholder="xy city" class="form-control col-xs-3" name="city" formControlName="city" />
            </div>
            <div *ngIf="addressForm.get('city').errors && addressForm.get('city').touched" class="col-xs-10 col-xs-offset-2">
              <div class="help-block" *ngIf="addressForm.get('city').errors.required">city is required</div>
              <div class="help-block" *ngIf="addressForm.get('city').errors.city && !addressForm.get('city').errors.required">Email is invalid.</div>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2 text-left">
              <label for="lastName">State</label>
            </div>
            <div class="col-xs-10">
              <input type="text" placeholder="xy state" class="form-control col-xs-3" name="state" formControlName="state" />
            </div>
            <div *ngIf="addressForm.get('state').errors && addressForm.get('state').touched" class="col-xs-10 col-xs-offset-2">
              <div class="help-block" *ngIf="addressForm.get('state').errors.required">state is required</div>
              <div class="help-block" *ngIf="addressForm.get('state').errors.state && !addressForm.get('state').errors.required">Email is invalid.</div>
            </div>
          </div>
          <dropdown-list [fgroup]="addressForm" class="form-group col-xs-12" [values]="dropdonwValues"></dropdown-list>

          <div class="form-group col-xs-12">
            <div class="col-xs-2 text-left">
              <label for="lastName">Date</label>
            </div>
            <div class="col-xs-10">
              <app-datepicker [formGroup]="addressForm"></app-datepicker>
            </div>
          </div>

          <div class="form-group col-xs-12">
            <app-btn-common [btnName]="formBtnName" [btnClasses]="formBtnClasses" [isDisabled]="!addressForm.valid" type="submit">
            </app-btn-common>
          </div>
          <h3>{{addressForm.value|json}}</h3>

        </form>
      </div>

    </div>



  </div>
</div>