<div class="row">
	<div class="col-xs-12">
		<div class="nav navbar-default x2-top">
			<div class="col-xs-4 text-wrapper">
				<li routerLinkActive="active"><a [routerLink]="['./profile']">Profile</a></li>
			</div>
			<div class="col-xs-4 text-wrapper">
				<li routerLinkActive="active"><a [routerLink]="['./team']">Team</a></li>
			</div>
			<div class="col-xs-4 text-wrapper">
				<li routerLinkActive="active"><a [routerLink]="['./contactus']">Contact Us</a></li>
			</div>
		</div>
	</div>
	<div class="col-xs-12 x2-top">
			<router-outlet></router-outlet>
	</div>
</div>